@Html.Partial("header.cshtml")
<container class="cleared">
  <a href="/"><img src="/Content/img/vault-boy-home.jpg" id="gohome"></a>
  <h1>You've cleared the list!</h1>
  <p>Click image to return home and start a new search</p>
</div>
