@Html.Partial("header.cshtml")

<container class="index">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-6">
    <h1>Hey there! Let's check a sentence for repeated words!</h1>
    </div>
    <div class="col-md-5">

    </div>
  </div>
  <div class="row middle-row">
    <div class="col-md-12">
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="/search" method="post">
        <div  class="input-group input-group-lg">
          <span class="input-group-addon"><p>Search a sentence to find how
            <br>many times a word is repeated!</p></span>
          <input type="text" name="word" class="form-inline form-control" placeholder="Word to Search For" autofocus>
          <input type="text" name="sentence" class="text-field form-control" placeholder="Enter a sentence to search">
          <span class="input-group-btn btn-group-vertical">
            <button class="btn" type="submit" name="command" value="spaces">WORDS ONLY</button>
            <button class="btn" type="submit" name="command" value="symbols">INCL SYMBOLS</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
