@Html.Partial("header.cshtml")
<container class="results">
  <div class="row">
    <h1>All right! You searched the sentence!</h1>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <ul>
      @foreach (var count in @Model)
      {
        <li id="search_word">You searched for: @count.GetWord()</li>
        <li id="sentence">In this sentence: @count.GetSentence()</li>
        <li id="count">And it matched: @count.GetCount() times</li>
      }
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 clear">
      <form action="/boom" method="post">
        <button>clear<br>all</button>
      </form>
      <a href="/" id="more"><img src="/Content/img/more.png"  alt="add another search"></a>
    </div>
  </div>
</div>
